<div id="entier">
    <div id="titrelist">
        {{currentListe.titrelist}}
    </div>
    <button id="back" mat-mini-fab color="grey" (click)="back()"><mat-icon>arrow_back</mat-icon></button>
    <div id="bout">

        <div class="bt">
            <button class="bt" mat-fab matTooltip="Ajouter un film" mat-fab (click)="openDialog()">
                <mat-icon>add</mat-icon>
            </button>
        </div>

        <div class="bt">
            <button class="bt" mat-fab matTooltip="Supprimer la liste" (click)="suppDialog('')">
                <mat-icon>delete</mat-icon>
            </button>
        </div>
        
        <div class="bt">
            <button class="bt" mat-fab matTooltip="Partager la liste" mat-fab (click)="dialogShare()">
                <mat-icon>share</mat-icon>
            </button>
        </div>

        <div class="bt">
            <button class="bt" mat-fab matTooltip="Exporter la liste" mat-fab (click)="export()">
                <mat-icon> vertical_align_bottom</mat-icon>
            </button>
        </div>
    </div>
    <app-detail-liste></app-detail-liste>
</div>
