<div *ngIf="showFormRecherche"> 
  <div id="cherche" class="form-card">
    <h2>Formulaire de recherche</h2>
    <form [formGroup]="formRecherche">
      <div id="ligne">
        <mat-icon class="icone" aria-hidden="false" matTooltip="Entrez le prénom puis le nom séparé par un espace / ou inversement" fontIcon="help_outline"></mat-icon>
          <div class="form-group">
            <mat-form-field appearance="fill" class="field">
              <mat-label class="lab">Realisateur</mat-label>
              <input matInput [formControl]="searchControlCarac" placeholder="Rechercher">
              <mat-error *ngIf="searchControlCarac.invalid && (searchControlCarac.dirty || searchControlCarac.touched)">
                forme : prenom nom  ou forme : prenom nom, prenom nom
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div id="ligne">
          <mat-icon class="icone" aria-hidden="false" matTooltip="Entrez l'année en numérique" fontIcon="help_outline"></mat-icon>
          <div class="form-group">
            <mat-form-field appearance="fill" class="field">
              <mat-label class="lab">Annee de sortie</mat-label>
              <input matInput [formControl]="searchControlAnnee" placeholder="Rechercher">
              <mat-error *ngIf="searchControlAnnee.invalid && (searchControlAnnee.dirty || searchControlAnnee.touched)">
                Le champ de recherche doit contenir exactement 4 chiffres.
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div id="ligne">
          <mat-icon class="icone" aria-hidden="false" matTooltip="1. Entrez le prénom puis le nom du premier acteur séparé par un espace
          2. Pour ajouter un 2ème : mettre une virgule suivi d'un espace suivi du prenom et du nom du deuxième." fontIcon="help_outline"></mat-icon>
          <div class="form-group">
            <mat-form-field appearance="fill" class="field">
              <mat-label class="lab">Acteurs</mat-label>
              <input matInput [formControl]="searchControlCarac" placeholder="Rechercher">
              <mat-error *ngIf="searchControlCarac.invalid && (searchControlCarac.dirty || searchControlCarac.touched)">
                forme : prenom nom  ou forme : prenom nom, prenom nom
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div id="ligne">
          <mat-icon class="icone" aria-hidden="false" matTooltip="entrez une date" fontIcon="help_outline"></mat-icon>
          <div class="form-group">
            <mat-form-field appearance="fill" class="field">
              <mat-label class="lab">Date de visionnage</mat-label>
              <input matInput [formControl]="searchControlDate" placeholder="Rechercher">
              <mat-error *ngIf="searchControlDate.invalid && (searchControlDate.dirty || searchControlDate.touched)">
                forme : jj/mm/aaaa ex: 23/03/2022
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div id="ligne">
          <mat-icon class="icone" aria-hidden="false" matTooltip="Entrez une chaine de caractères" fontIcon="help_outline"></mat-icon>
          <div class="form-group">
              <mat-form-field appearance="fill" class="field">
                  <mat-label class="lab">Lieu de visionnage</mat-label>
                  <input matInput formControlName="locationControl">
              </mat-form-field>
          </div>
        </div>
        <div id="ligne">
          <mat-icon class="icone" aria-hidden="false" matTooltip="entrez une note" fontIcon="help_outline"></mat-icon>
          <div class="form-group">
            <mat-form-field appearance="fill" class="field">
              <mat-label class="lab">Note</mat-label>
              <input matInput [formControl]="searchControlNote" placeholder="Rechercher">
              <mat-error *ngIf="searchControlNote.invalid && (searchControlNote.dirty || searchControlNote.touched)">
                Entrez un nombre de 0 à 5
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div id="ligne">
          <mat-icon class="icone" aria-hidden="false" matTooltip="Entrez une chaine de caractères" fontIcon="help_outline"></mat-icon>
          <div class="form-group">
              <mat-form-field appearance="fill" class="field">
                <mat-label class="lab">Accompagnateurs</mat-label>
                <input matInput formControlName="accompagnateursControl">
              </mat-form-field>
          </div>
        </div>
        <div class="action-buttons">
            <button class="buttonR" mat-raised-button [disabled]="!searchControlNote.valid || !searchControlCarac.valid || !searchControlDate.valid || !searchControlAnnee.valid " (click)="rechercherFilm()">Recherche</button>
        </div>
    </form>
  
  </div>
</div>
<!-- <ng-container *ngIf="searchedMoviesNotEmpty"> -->

<!-- Resultats de la recherche  -->


<div id="reponse" *ngIf="finished">
  <div *ngFor="let movies of movieExist">
      <h2 (click)="clickFilm(movies)">{{movies.titre}}</h2>
  </div>
</div>


<!-- </ng-container> -->

