<div *ngIf="showFormRecherche">
<div id="cherche" class="form-card">
  <h2>Formulaire de recherche</h2>
  <form [formGroup]="formRecherche">
    <div id="ligne">
      <mat-icon class="icone" aria-hidden="false" matTooltip="Entrez le prénom puis le nom séparé par un espace / ou inversement" fontIcon="help_outline"></mat-icon>
        <div class="form-group">
          <mat-form-field appearance="fill" class="field">
            <mat-label class="lab">Realisateur</mat-label>
            <input matInput formControlName="realisateurControl" placeholder="Rechercher">
            <mat-error *ngIf="formRecherche.get('realisateurControl')?.invalid && (formRecherche.get('realisateurControl')?.dirty || formRecherche.get('realisateurControl')?.touched)">
              forme : prenom nom  ou forme : prenom nom, prenom nom
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div id="ligne">
        <mat-icon class="icone" aria-hidden="false" matTooltip="1. Entrez le prénom puis le nom du premier acteur séparé par un espace
        2. Pour ajouter un 2ème : mettre une virgule suivi d'un espace suivi du prenom et du nom du deuxième." fontIcon="help_outline"></mat-icon>
        <div class="form-group">
          <mat-form-field appearance="fill" class="field">
            <mat-label class="lab">Acteurs</mat-label>
            <input matInput formControlName="acteurControl" placeholder="Rechercher">
            <mat-error *ngIf="formRecherche.get('acteurControl')?.invalid && (formRecherche.get('acteurControl')?.dirty || formRecherche.get('acteurControl')?.touched)">
              forme : prenom nom  ou forme : prenom nom, prenom nom
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div id="ligne" *ngIf="(this.formRecherche.get('acteurControl')?.value != undefined &&
      this.formRecherche.get('acteurControl')?.value != '') ||
      (this.formRecherche.get('realisateurControl')?.value != undefined &&
      this.formRecherche.get('realisateurControl')?.value != '')">
        <mat-icon class="icone" aria-hidden="false" matTooltip="Entrez l'année en numérique" fontIcon="help_outline"></mat-icon>
        <div class="form-group">
          <mat-form-field appearance="fill" class="field">
            <mat-label class="lab">Annee de sortie</mat-label>
            <input matInput formControlName="anneeSortieControl" placeholder="Rechercher">
            <mat-error *ngIf="formRecherche.get('anneeSortieControl')?.invalid && (formRecherche.get('anneeSortieControl')?.dirty || formRecherche.get('anneeSortieControl')?.touched)">
              Le champ de recherche doit contenir exactement 4 chiffres.
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div id="ligne">
        <mat-icon class="icone" aria-hidden="false" matTooltip="entrez une année sous la forme : aaaa" fontIcon="help_outline"></mat-icon>
        <div class="form-group">
          <mat-form-field appearance="fill" class="field">
            <mat-label class="lab">Date de visionnage</mat-label>
            <input matInput formControlName="dateVisionControl" placeholder="Rechercher">
            <mat-error *ngIf="formRecherche.get('dateVisionControl')?.invalid && (formRecherche.get('dateVisionControl')?.dirty || formRecherche.get('dateVisionControl')?.touched)">
              forme : jjmmaaaa ex: 2022
            </mat-error>
          </mat-form-field>
        </div>
      </div>
        <div id="ligne">
          <mat-icon class="icone" aria-hidden="false" matTooltip="Entrez une chaine de caractères" fontIcon="help_outline"></mat-icon>
          <div class="form-group">
              <mat-form-field appearance="fill" class="field">
                  <mat-label class="lab">Lieu de visionnage</mat-label>
                  <input matInput formControlName="locationControl" [matAutocomplete]="cinemaAutoR">
                  <mat-autocomplete #cinemaAutoR="matAutocomplete">
                    <mat-option *ngFor="let cinema of cinemaFieldHistory" [value]="cinema">
                      {{cinema}}
                    </mat-option>
                  </mat-autocomplete>
              </mat-form-field>
          </div>
      </div>
      <div id="ligne">
        <mat-icon class="icone" aria-hidden="false" matTooltip="entrez une note de 0 à 5" fontIcon="help_outline"></mat-icon>
        <div class="form-group">
          <mat-form-field appearance="fill" class="field">
            <mat-label class="lab">Note</mat-label>
            <input matInput formControlName="noteControl" placeholder="Rechercher">
            <mat-error *ngIf="formRecherche.get('noteControl')?.invalid && (formRecherche.get('noteControl')?.dirty || formRecherche.get('noteControl')?.touched)">
              Entrez un nombre de 0 à 5
            </mat-error>
          </mat-form-field>
        </div>
      </div>
        <div id="ligne">
          <mat-icon class="icone" aria-hidden="false" matTooltip="Entrez une chaine de caractères" fontIcon="help_outline"></mat-icon>
          <div class="form-group">
              <mat-form-field appearance="fill" class="field">
                <mat-label class="lab">Accompagnateurs</mat-label>
                <input matInput formControlName="accompagnateursControl" [matAutocomplete]="accompagnateursAutoR">
                <mat-autocomplete #accompagnateursAutoR="matAutocomplete">
                  <mat-option *ngFor="let accompagnateurs of accompagnateursFieldHistory" [value]="accompagnateurs">
                    {{accompagnateurs}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
          </div>
        </div>
        <div id="ligne">
        <mat-icon class="icone" aria-hidden="false" matTooltip="Entrez des mots clés de vos avis." fontIcon="help_outline"></mat-icon>
        <div class="form-group">
            <mat-form-field appearance="fill" class="field">
              <mat-label class="lab">Avis</mat-label>
              <input matInput formControlName="avisControl">
            </mat-form-field>
        </div>
      </div>

      <div class="action-buttons">
          <button class="buttonR" mat-raised-button [disabled]="!formRecherche.get('noteControl')?.valid || !formRecherche.get('realisateurControl')?.valid || !formRecherche.get('acteurControl')?.valid || !formRecherche.get('dateVisionControl')?.valid || !formRecherche.get('anneeSortieControl')?.valid" (click)="rechercherFilm()">Recherche</button>
      </div>
  </form>
</div>
</div>


<!-- Resultats de la recherche  -->
<h2>Résultats de la recherche :</h2>
<div #myDiv id="spinner" *ngIf="spinner"><mat-spinner color="#FF0000"></mat-spinner></div>
<div *ngIf="finished">
  <section *ngIf="noResult"><p id="noResult">{{finalMovieResults}}</p></section>
  <section id="reponse" *ngFor="let movie of finalMovieResults | keyvalue">
    <app-movie-card [movieData]="movie"></app-movie-card>
      <!-- <h2 (click)="clickFilm(movie)">{{movie.value}}</h2> -->
  </section>
</div>

<!-- <div class="carte" *ngFor="let movie of movies | keyvalue">
  <app-movie-card [movieData]="movie"></app-movie-card>
</div> -->

