<div class="logo"><img src="../../assets/3.png" alt="logo"></div>

<div id="ajout">
    <div class="bt">
        <button class="butAjout" mat-fab matTooltip="Ajouter un film" mat-fab (click)="openDialog()">
            <mat-icon>add</mat-icon>
        </button>
        <button class="butAjout" mat-fab matTooltip="Rechercher un film" mat-fab (click)="affichageForm()">
            <mat-icon>search</mat-icon>
        </button>
    </div>
    <!--<p>You have {{ numberOfFilms | async }} films.</p>-->
    <div id="compteur">
        <header>
            <mat-icon id="icone">local_movies</mat-icon>
        </header>
        <article id="centre">
            <h2>{{ numberOfFilms | async }}</h2>
            <p>Films vus</p>
        </article>
    </div>

</div>
<div id="recherche">
    <div *ngIf="showFormRecherche">
        <div id="boutonclose">
            <button class="butAjout" id="close" mat-fab matTooltip="Fermer le formulaire de recherche" mat-fab (click)="onClose()">
                <mat-icon>close</mat-icon>
            </button>
        </div>
        <app-affichage-recherche></app-affichage-recherche>
    </div>
    <div *ngIf="showResultatRecherche">
        <app-affichage-films></app-affichage-films>
    </div>
</div>


