<div id="dialog">
  <h1 mat-dialog-title>Ajouter un film</h1>
  <div mat-dialog-content >

    <div *ngIf="filmError" [ngStyle]="{'color': 'red', 'font-weight': 'bold'}">
      Film non reconnu, veuillez essayer autre chose.
    </div>
    <div *ngIf="errorMsgFilmExists" [ngStyle]="{'color': 'blue', 'font-weight': 'bold'}">
      Ce film existe déjà dans votre répertoire.
    </div>

    <header>
      <mat-radio-group id="groupradio" aria-label="Select an option">
        <mat-radio-button class="radio" value="TMDB" [checked]="true" (click)="changeBoolFalse()">API TMDB</mat-radio-button>
        <mat-radio-button class="radio" value="OMDB" (click)="changeBoolTrue()">API OMDB</mat-radio-button>
      </mat-radio-group>
      <mat-icon id="icone" aria-hidden="false" matTooltip="TMDB et OMDB sont deux bases de données en ligne qui fournissent des informations sur les films.
      Si TMDB ne dispose pas du film que vous recherchez, vous pouvez cocher OMDB comme une autre source. " fontIcon="help_outline"></mat-icon>
    </header>
    <mat-form-field class="field" appearance="fill">
      <mat-label for="title">Titre</mat-label>
      <input matInput [(ngModel)]="selectedMovie" [matAutocomplete]="auto"
        [formControl]="searchMoviesCtrl" placeholder="Titanic" cdkFocusInitial (change)="removeError()">
      <button *ngIf="selectedMovie" matSuffix mat-icon-button aria-label="Clear" (click)="clearSelection()">
        <mat-icon>close</mat-icon>
      </button>
      <mat-autocomplete [panelWidth]="400" #auto="matAutocomplete" (optionSelected)="onSelected()"
        [displayWith]="displayWith">
        <mat-option *ngIf="isLoading" class="is-loading">Chargement...</mat-option>
        <ng-container *ngIf="!isLoading">
          <ng-container *ngIf="omdbSelected">
            <mat-option *ngFor="let movie of filteredMoviesOMDB" [value]="movie">
              <span><b>{{movie.Title}}</b> ({{movie.Year}})</span>
            </mat-option>
          </ng-container>

          <ng-container *ngIf="!omdbSelected">
            <mat-option *ngFor="let movie of filteredMoviesTMDB" [value]="movie">
              <!-- ({{movie.original_title}}) -->
              <span><b>{{movie.titleFR}}</b> {{movie.title}} ({{movie.release_date}})</span>
            </mat-option>
          </ng-container>
        </ng-container>
      </mat-autocomplete>
      <div *ngIf="messError" [ngStyle]="{'color': 'red','margin-top': 0}">
        Aucun résultat.
      </div>
    </mat-form-field>

    <mat-form-field class="field" appearance="fill">
      <mat-label for="cine">Titre en français</mat-label>
      <input matInput [(ngModel)]="data.french_title" type="cine" placeholder={{titleFrench}} value="{{ titleFrench }}">
    </mat-form-field>

    <mat-form-field class="field" appearance="fill">
      <mat-label for="dat">Année de visionnage</mat-label>
      <input matInput [(ngModel)]="data.dateVision" type="dat" [formControl]="searchControlDate"  placeholder="2022">
      <mat-error *ngIf="searchControlDate.invalid && (searchControlDate.dirty || searchControlDate.touched)">
        ex: 2022
      </mat-error>
    </mat-form-field>

    <mat-form-field class="field" appearance="fill">
      <mat-label for="cine">Cinéma</mat-label>
      <input matInput [(ngModel)]="data.cinema" type="cine" placeholder="Gaumont Wilson" [matAutocomplete]="cinemaAuto">
      <mat-autocomplete #cinemaAuto="matAutocomplete">
        <mat-option *ngFor="let cinema of cinemaFieldHistory" [value]="cinema">
          {{cinema}}
          <button mat-icon-button matSuffix aria-label="Remove" (click)="deleteCinemaHistory($event, cinema)">
            <mat-icon>close</mat-icon>
          </button>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field class="field" appearance="fill">
      <mat-label for="accomp">Accompagnateurs</mat-label>
      <input matInput [(ngModel)]="data.accompagnateurs" type="accomp" placeholder="Julien, Martine, Benjamin" [matAutocomplete]="accompagnateursAuto">
      <mat-autocomplete #accompagnateursAuto="matAutocomplete">
        <mat-option *ngFor="let accompagnateurs of accompagnateursFieldHistory" [value]="accompagnateurs">
          {{accompagnateurs}}
          <button mat-icon-button matSuffix aria-label="Remove" (click)="deleteAccompagnateurHistory($event, accompagnateurs)">
            <mat-icon>close</mat-icon>
          </button>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field class="field" appearance="fill">
      <mat-label for="note">Note/5</mat-label>
      <input matInput [(ngModel)]="data.note" [formControl]="searchControlNote" type="note">
        <mat-error *ngIf="searchControlNote.invalid && (searchControlNote.dirty || searchControlNote.touched)">
          Entrez un nombre de 0 à 5
        </mat-error>
    </mat-form-field>

    <mat-form-field class="field" appearance="fill">
      <mat-label for="avis">Avis</mat-label>
      <textarea [(ngModel)]="data.avis" matInput type="avis" placeholder="Ce film était .....">
      </textarea>
    </mat-form-field>

  </div>
  <div mat-dialog-actions>

    <button mat-button (click)="onNoClick()">Retour</button>
    <button mat-button (keyup.enter)="clickButtonChooseAPIINIT()" [disabled]="!searchControlDate.valid || !searchControlNote.valid ||boutonAjoutClicked" (click)="clickButtonChooseAPIINIT()">Ok</button>

  </div>
</div>
