#dialog {
    text-align: center;
}

.field {
    margin-bottom: 30px;
    display: inline-block;
    margin-left: 10px;
}

.radio{
    margin : 0px 16px 0px 16px;
}

#groupradio{
    display: block;
    margin-bottom: 30px;
}



