<div id="header">

    <a *ngIf="isSign">
        <div id="util">
            <mat-icon id="icone">account_circle</mat-icon>
            <a>{{userName}}</a>
        </div>
    </a>

    <a *ngIf="isSign" routerLink="home" class="minideco">
        <div class="nav">
            <a>Accueil</a>
        </div>
    </a>

    <a *ngIf="isSign" routerLink="favs" class="minideco">
        <div class="nav">
            <a>Mes Listes</a>
        </div>
    </a>
    
    <a *ngIf="isSign" class="minideco" (click)="disconnect()">
        <div class="nav">
            <div id="deco">
                <a>Déconnexion</a>
                <mat-icon id="icone2">exit_to_app</mat-icon>
            </div>
        </div>
    </a>

</div>
