
.minideco {
  text-decoration: none;
  &:hover {
      text-decoration: underline;
      text-underline-offset: 2px;
  }
}
.nom {
  color: white;
}

#glob {
  width: 100%;
  height: auto;
}

#header {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 4.58em; 
  position: initial;
  display: flex;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: space-evenly;
  
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.nav {
  padding: 22px 25px 20px 25px;
  transition: 0.5s;
  cursor: pointer;
  
  
  &:hover  {
      background-color: black;
      color: black;      

      & a {
          font-size: 116%;  
        color: orange
      }

      & #icone2 {
        color:orange;
      }
  }

  a {

      text-decoration: none;
      color: white;
      transition: 0.7s;
  }
  
}

#cherche {
  padding-top: 20px;
  padding-bottom: 20px;
  height: auto;
  width: 40%;
  margin-top: 7em;
  transition: 0.5s;
}

/*
#form2 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  left: 50%;
  top: 75%;
  margin-left: -25%;
  position: absolute;
  margin-top: -25%;
}
*/

.form-card {
  box-sizing: border-box;
  width: 10%;
  margin: 20px auto;
  box-shadow: lightgray 4px 4px 20px;
  
  box-shadow: rgb(48, 19, 117) 4px 4px 20px;
  border: solid rgb(5, 4, 88);

  border-radius: 30px;
  
}

.form-group {
  margin: 10px auto;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: auto;
  flex-wrap: wrap;
}

input, textarea {
  width: 50%;
}

.action-buttons {
  width: 100%;
}

button {
  display: block;
  margin: 20px auto;
  
}

#util, #deco{
  color: orange;
  display: flex;
  align-items: center;
}


#icone{
  color : orange;
  margin-right: 10px;
}

#icone2 {
  color : white;
  margin-left : 10px;
  transform: scale(0.8);
}




