#caroussel {
    padding : 1em;
    background-color : #1c1c1e ;
    border-radius: 10px;
    box-shadow: 10px 10px 12px #555;
}

#caroussel h1 {
    color: #ded9d9; 
    font-family: 'Goudy Old Style',monospace; 
    font-size: 45px; 
    font-weight: 100; 
    line-height: 5px; 
    margin: 0; 
    text-transform: uppercase;
    text-align: center;
    padding: 30px;
}

#caroussel h2 {
    color: #c6c1c1; 
    font-family: 'Goudy Old Style',monospace; 
    font-size: 25px;
    margin: 0; 
    text-align: center;
    padding-bottom: 1em;
    font-weight: lighter;
}



