li {
    display: inline-block;
    list-style-type: none;
    font-family: 'Goudy Old Style',monospace;
    font-size: 30px;
    font-weight: 100;
    line-height: 5px;
    padding: 30px;
    line-height: 1; /* Notez que j'ai changé la valeur de "line-height" */
    word-break: break-all;
}

#comp-liste {
    background: rgb(39,39,39);
    padding : 1em;
    margin : 0px 100px 30px 100px;
    border-radius: 10px;
    box-shadow: -3px 3px 7px 0px orange,
    0 0 2px orange,
    0 0 6px rgb(208, 181, 131),
    0 0 10px rgb(65, 61, 57);
    color: white;
}

.form-group {
    margin: 20px auto auto 35%;
    width: 23%;
    align-items: center;
    justify-content: space-between;
    font-size: small;
  }

  .lab {
    color: white;
    display: inline;
  }


  ::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: white !important;
   }

   ::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: white !important;
  }

  ::ng-deep.mat-form-field-ripple {
   /*change color of underline when focused*/
   background-color: white !important;
  }

  input, textarea {
    width: 100%;
    color: white;
  }

  .form-group {
    margin-bottom: 30px;
    text-align: center;
  }

  input::placeholder {
    color:rgb(141, 141, 141);
  }

  #butGerer {
    transform: scale(0.8);
    color: white;
    transition: 0.4s;
    background-color: rgb(39,39,39);
    &:hover {
        color: orange;
    }
}

.add {
  color: white;
  transition: 0.4s;
  background-color: rgb(39,39,39);
  &:hover {
      color: orange;
  }
}

#ajout {
  display: inline-block;
  margin: 0px auto auto 0px;
  color: white;
  transition: 0.4s;
  background-color: rgb(39,39,39);
  &:hover {
      color: orange;
  }
}

#aide {
  margin-top : 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  position: relative;

}

#aide h1 {
  position : absolute;
  font-size: small;
  color : white;

}

#p1 {
  margin-right: 170px;
}

#p2 {
  margin-left : 220px
}

#aide button {
  margin-right: 10px;
  margin-top: 20px;
  transform: scale(0.8);
  position: absolute;
  top: 0px;
  color: white;
  cursor:default
}

h2 {
  margin-top : 20px;
  text-align: center;
  color: orange;
}

#chips {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

mat-chip.selected {
  background-color: orange !important;
  color: white !important;
}

#spinner {
  transform: scale(0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  color : #ffa500
}


.mat-progress-spinner::ng-deep circle {
  stroke: currentColor;
}
