<div id="entier">
    
    <div class="form-group">
        <mat-form-field appearance="fill">
          <mat-icon matSuffix>search</mat-icon>
          <input matInput type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="titre d'un film">
        </mat-form-field>
    </div>
    
    <div id="comp-liste"*ngFor="let liste of listofFilms | filter:searchText titrelist">
        <li>{{ liste.titrelist }}</li>
        <div id="ajout">
            <div class="add">
                <button id="butGerer" mat-fab matTooltip="Afficher la liste" mat-fab (click)="gererListe(liste)">
                    <mat-icon>list</mat-icon>
                </button>
            </div>
        </div>
    </div>
</div>


