<div id="entier">
    
    <div class="form-group">
        <mat-form-field appearance="fill">
          <mat-icon matSuffix>search</mat-icon>
          <input matInput type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="Rechercher par titre de liste ou de film">
        </mat-form-field>
    </div>

    <div *ngIf="aucuneListe">
        <h2>Aucune liste n'a été créé.</h2>
    </div>
    
    <div id="comp-liste"*ngFor="let liste of listofFilms | filter:searchText titrelist">
        <li>{{ liste.titrelist }}</li>
        <div id="ajout">
            <div class="add">
                <button id="butGerer" mat-fab matTooltip="Afficher la liste" mat-fab (click)="gererListe(liste)">
                    <mat-icon>list</mat-icon>
                </button>
                <ng-container *ngIf="liste.shared">
                    <button id="addSharedListToUserLists" mat-button (click)="addSharedListToUserLists(liste)">Posséder</button>
                </ng-container>
            </div>
        </div>
    </div>
    <div id="comp-liste"*ngFor="let liste of commonList | filter:searchText titrelist">
        <li>{{ liste.titrelist }}</li>
        <div id="ajout">
            <div class="add">
                <button id="butGerer" mat-fab matTooltip="Afficher la liste" mat-fab (click)="gererListe(liste)">
                    <mat-icon>list</mat-icon>
                </button>
                <ng-container *ngIf="liste.shared">
                    <button id="addSharedListToUserLists" mat-button (click)="addSharedListToUserLists(liste)">Posséder</button>
                </ng-container>
            </div>
        </div>
    </div>
</div>


