<div id="entier">
  <div id="aide" *ngIf="noMovies">
    <h1 id="p1">Cliquez sur le bouton </h1>
    <button mat-icon-button disabled >
      <mat-icon>add</mat-icon>
    </button>
    <h1 id="p2">pour ajouter votre premier film</h1>
  </div>
    <div *ngIf="!noMovies" class="form-group">
        <mat-form-field appearance="fill">
          <mat-icon matSuffix>search</mat-icon>
          <input matInput type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="Rechercher par titre ou année de sortie d'un film">
        </mat-form-field>
    </div>
</div>
<div id="spinner" *ngIf="spinner"><mat-spinner [ngStyle]="spinnerStyle"></mat-spinner></div>
<div class="carte" *ngFor="let movie of filteredMovies | keyvalue">
  <app-movie-card [movieData]="movie"></app-movie-card>
</div>
