.form-group {
    margin: 20px auto auto 33%;
    display: block;
    width: 250px;
    align-items: center;
    justify-content: space-between;
    font-size: small;
  }

#aide {
  margin-top : 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  position: relative;

}

#aide h1 {
  position : absolute;
  font-size: small;
  color : white;

}

#p1 {
  margin-right: 200px;
}

#p2 {
  margin-left : 230px
}

#aide button {
  margin-right: 10px;
  margin-top: 20px;
  margin-bottom: 5px;
  transform: scale(0.8);
  position: absolute;
  top: 0px;
  color: white; 
  cursor:default
}

  ::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: white !important;
   }

   ::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: white !important;
  }

  ::ng-deep.mat-form-field-ripple {
   /*change color of underline when focused*/
   background-color: white !important;
  }

  input, textarea {
    width: 100%;
    color: white;
  }

  .form-group {
    margin-bottom: 30px;
    text-align: center;
  }

  input::placeholder {
    color:rgb(141, 141, 141);
  }

.butAjout {
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 5px;
    color: white;
    transition: 0.4s;
    background-color: rgb(39,39,39);
    &:hover {
        color: orange;
    }
}

.bt {
    display: inline;
}

#bout {
    display : inline-block
}

.carte {
    width : 150px;
    margin: 20px;
    display: inline-flex;
  }

  #spinner {
    transform: scale(0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    color : #ffa500
  }


  .mat-progress-spinner::ng-deep circle {
    stroke: currentColor;
  }
