
<div id="bout">
    <div class="bt">
        <button class="butAjout" mat-fab matTooltip="Rechercher un film" mat-fab (click)="affichageForm()">
            <mat-icon>search</mat-icon>
        </button>
    </div>

    <div class="bt">
        <button class="butAjout" mat-fab matTooltip="Recharger les films" (click)="reloadFilms()">
            <mat-icon>cached</mat-icon>
        </button>
    </div>
</div>

<!--<div class="circle">
    <span class="circle_text"><strong> FILMS :</strong> {{this.moviesNumber}} </span>
</div>-->

<div id="compteur">
    <header>
        <mat-icon id="icone">local_movies</mat-icon>
    </header>
    <article id="centre">
        <h2>{{this.moviesNumber}}</h2>
        <p>Films vus</p>
    </article>
</div>


<div *ngIf="showFormRecherche"  id="cherche" class="form-card">
    <form [formGroup]="formRecherche">
        <div class="form-group">
            <mat-form-field appearance="fill" class="field" color='white'>
                <mat-label class="lab">Titre</mat-label>
                <input matInput [formControl]="titreControl">
              </mat-form-field>

              <mat-form-field appearance="fill" class="field">
                <mat-label class="lab">Realisateur</mat-label>
                <input matInput [formControl]="realisatorControl">
              </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field appearance="fill" class="field">
                <mat-label class="lab">Annee</mat-label>
                <input matInput [formControl]="yearControl">
              </mat-form-field>

            <mat-form-field appearance="fill" class="field">
                <mat-label class="lab">Acteur</mat-label>
                <input matInput [formControl]="actorsControl">
              </mat-form-field>
        </div>

        <div class="form-group">
            <mat-form-field appearance="fill" class="field">
                <mat-label class="lab">Lieu</mat-label>
                <input matInput [formControl]="locationControl">
              </mat-form-field>

              <mat-form-field appearance="fill" class="field">
                <mat-label class="lab">Accompagnateurs</mat-label>
                <input matInput [formControl]="accompagnateursControl">
              </mat-form-field>
        </div>

        <div class="action-buttons">
            <button class="buttonR" mat-raised-button (click)="rechercherFilm()">Recherche</button>
        </div>
    </form>

</div>
<div id="images">
    <div *ngFor="let infoMovies of movies | keyvalue" id="Poster">
        <a id="description" *ngIf="infoMovies">
            <h2 (click)="clickFilm(infoMovies)"> {{infoMovies.key['movie_results'][0].original_title}}</h2>
            <h3 > {{infoMovies.key['movie_results'][0].release_date.toString().split("-")[0]}}</h3>
        </a>
        <a (click)="clickFilm(infoMovies.key['movie_results'][0])">
            <img *ngIf="infoMovies" src={{infoMovies.value}} alt="{{infoMovies.key['movie_results'][0].original_title}}" id="poster">
        </a>
    </div>

</div>
