h2 {
  color: white;
  text-align: center;
  text-transform: uppercase;
}
.form-card {
  min-width: 450px;
    box-sizing: border-box;
    width: 30%;
    margin: 40px auto 40px auto;
    padding: 30px;
    //box-shadow: orange 4px 4px 15px;
    border-radius: 30px;
    background-color: rgba(212, 211, 211, 0.06)
  }
  
  .form-group {
    margin: 20px auto auto 20%; 
    width: 50%;
    align-items: center;
    justify-content: space-between;
    font-size: small;
  }
  
  input, textarea {
    width: 50%;
    color: white;
  }
  
  .action-buttons {
    width: 100%;
  }
  
  button {
    display: inline-block;
    margin: 20px ;
  }

  #entier {
    padding-bottom: 47.7vh;
  }

  ::ng-deep .mat-form-field {
    // forme de l'entree 
    background-color: rgba(212, 211, 211, 0.06);
    border-radius: 30px;
    height: 50px;
    width: 130%;
  }

  ::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: white !important;
   }
  
   ::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: white !important;
  } 
  
  ::ng-deep.mat-form-field-ripple {
   /*change color of underline when focused*/
   background-color: white !important;
  }

  .lab {
    color: white;
    display: inline;
  }

  .but {
    display: inline-block;
    margin: 20px auto auto 5px;
    background-color: rgb(39,39,39);
    border-radius: 8px;
    transition: 0.4s;
    color: white;
        
    
        &:hover {
            color: orange;
           
        }
    
  }

.mat-icon {
  color : orange;
}

#buttons {
  display: block;
  margin: 0 auto;
  height: 100%;
  text-align: center;
}

#icone {
  transform: scale(3);
  display: block;
  margin : 30px auto 40px 48%;
}

#centre {
  margin : 0 auto;
  text-align: center;
}

#head {
  margin : 0 auto;
}

.change{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

mat-label {
  color: white;
}

span {
  text-decoration: underline;
  cursor: pointer;
}

