<div id="entete">
  <div id="boutons">
    <button id="butR" mat-fab mat-fab (click)="back()">
      <mat-icon>keyboard_return</mat-icon>
    </button>
    <button id="butR" mat-fab matTooltip="Supprimer le film" (click)="suppDialog()">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</div>

<div id="film" [ngStyle]="{
    'background-image':
      'linear-gradient(
    rgba(40, 40, 40, 0.9),
    rgba(40, 40, 40, 0.9)), url(' +
      currentFilm.value.poster +
      ')',
    'background-repeat': 'repeat'
  }">

  <div id="leposter">
    <img src="{{ currentFilm.value.poster }}" alt="{{ currentFilm.value.title }}" id="images" />
  </div>
  <div id="infos">
    <div id="titre">{{ currentFilm.value.title }}</div>
    <ng-container *ngIf="currentFilmInfos">
    <p id="soustitre">
      {{ currentFilmInfos.release_date }} - {{ currentFilmInfos.Genre }} - {{ currentFilmInfos.Runtime }}
    </p>
    <div id="details">
      <h2 *ngIf="!isListCommon">Informations personnelles</h2>

      <div *ngIf="updating">
        <div class="form-card">
          <form [formGroup]="formUpdateMovie">
            <div id="ligne">
                <div class="form-group">
                  <p><span class="bold">Note :</span>/5</p>
                  <mat-form-field appearance="fill" class="field">
                    <mat-label class="lab">Note </mat-label>
                    <input matInput formControlName="noteControl" placeholder="Note">
                    <mat-error *ngIf="formUpdateMovie.get('noteControl')?.invalid && formUpdateMovie.get('noteControl')?.touched">
                      forme :  chiffre de 0 à 5
                    </mat-error>
                  </mat-form-field>
                </div>
            </div>
            <div id="ligne">
                <div class="form-group">
                  <p><span class="bold">Année de visionnage</span></p>
                  <mat-form-field appearance="fill" class="field">
                    <input matInput formControlName="dateVisionControl" placeholder="Année">
                    <mat-error *ngIf="formUpdateMovie.get('dateVisionControl')?.invalid && formUpdateMovie.get('dateVisionControl')?.touched">
                      forme :  AAAA ex : 2012
                    </mat-error>
                  </mat-form-field>
                </div>
            </div>
            <div id="ligne">
              <div class="form-group">
                <p><span class="bold">Cinéma :</span></p>
                <mat-form-field appearance="fill" class="field">
                  <mat-label class="lab">Cinéma : </mat-label>
                  <input matInput formControlName="cinemaControl" placeholder="Cinéma" [matAutocomplete]="cinemaAutoS">
                  <mat-autocomplete #cinemaAutoS="matAutocomplete">
                    <mat-option *ngFor="let cinema of cinemaFieldHistory" [value]="cinema">
                      {{cinema}}
                      <button mat-icon-button matSuffix aria-label="Remove" (click)="deleteCinemaHistory($event, cinema)">
                        <mat-icon>close</mat-icon>
                      </button>
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </div>
            </div>
            <div id="ligne">
              <div class="form-group">
                <p><span class="bold">Accompagnateurs :</span></p>
                <mat-form-field appearance="fill" class="field">
                  <mat-label class="lab">Accompagnateurs : </mat-label>
                  <input matInput formControlName="accompagnateursControl" placeholder="Accompagnateurs" [matAutocomplete]="accompagnateursAutoS">
                  <mat-autocomplete #accompagnateursAutoS="matAutocomplete">
                    <mat-option *ngFor="let accompagnateurs of accompagnateursFieldHistory" [value]="accompagnateurs">
                      {{accompagnateurs}}
                      <button mat-icon-button matSuffix aria-label="Remove" (click)="deleteAccompagnateurHistory($event, accompagnateurs)">
                        <mat-icon>close</mat-icon>
                      </button>
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </div>
            </div>
            <div id="ligne">
              <div class="form-group">
                <p><span class="bold">Avis :</span></p>
                <mat-form-field appearance="fill" class="field">
                  <mat-label class="lab">Avis </mat-label>
                  <input matInput formControlName="avisControl" placeholder="Avis">
                </mat-form-field>
              </div>
          </div>
          <div id="boutons">
            <button id="butModif" mat-mini-fab matTooltip="Valider" [disabled]="formUpdateMovie.get('dateVisionControl')?.invalid || formUpdateMovie.get('noteControl')?.invalid" (click)="modifyMovie()">
              <mat-icon>check_circle</mat-icon>
            </button>
            <p *ngIf="formUpdateMovie.get('dateVisionControl')?.invalid || formUpdateMovie.get('noteControl')?.invalid">Veuillez modifier les erreurs</p>
            <button id="butModif" mat-mini-fab matTooltip="Annuler" (click)="showFormUpdateNovie()">
              <mat-icon>cancel</mat-icon>
            </button>
          </div>
          </form>
        </div>
      </div>

      <div class="wrapper" *ngIf="!isListCommon">
          <div *ngIf="!updating">
          <div class="partie">
            <mat-icon class="icone">star_border</mat-icon>
            <p>
              <span class="bold">Note :</span> {{ currentFilmInfos.note }}/5
            </p>
          </div>
          <div class="partie">
            <mat-icon class="icone">camera_roll</mat-icon>
            <p>
              <span class="bold">Date de visionnage :</span>
              {{ currentFilmInfos.dateVision }}
            </p>
          </div>
          <div class="partie">
            <mat-icon class="icone"> place</mat-icon>
            <p>
              <span class="bold">Cinéma :</span> {{ currentFilmInfos.cinema }}
            </p>
          </div>
          <div class="partie">
            <mat-icon class="icone">supervisor_account</mat-icon>
            <p>
              <span class="bold">Accompagnateurs :</span>
              {{ currentFilmInfos.accompagnateurs }}
            </p>
          </div>
          <div class="partie">
            <mat-icon class="icone"> local_movies</mat-icon>
            <p><span class="bold">Avis :</span> {{ currentFilmInfos.avis }}</p>
          </div>
          <button id="butModif" *ngIf="!isListShared" mat-mini-fab matTooltip="Modifier mes informations" (click)="showFormUpdateNovie()">
            <mat-icon>create</mat-icon>
          </button>
        </div>
      </div>

      <hr />
      <h2>Informations extraites des API</h2>
      <div id="wrapper2">
        <div id="acteurs">
          <mat-icon class="icone">movie_creation</mat-icon>
          <p><span class="bold">Acteurs :</span> {{ currentFilmInfos.Actors }}</p>
          <details>
            <summary>
              <p id="texte"></p>
            </summary>
            <ul>
              <li *ngFor="let item of actors | keyvalue">
                {{ item.key }} ({{ item.value }})
              </li>
            </ul>
          </details>
        </div>
        <div>
          <mat-icon class="icone">rate_review</mat-icon>
          <p>
            <span class="bold">Réalisateurs :</span> {{ currentFilmInfos.Director }}
          </p>
        </div>
        <div>
          <mat-icon class="icone">event_note</mat-icon>
          <p><span class="bold">Synopsis : </span> {{ currentFilmInfos.Plot }}</p>
        </div>
        <div>
          <mat-icon class="icone">stars</mat-icon>
          <p>
            <span class="bold">Critiques Critikat :</span>
          </p>
          <div id="spinner" *ngIf="spinner"><mat-spinner [ngStyle]="spinnerStyle"></mat-spinner></div>
          <section id="critique"><p>{{critique}}</p></section>
          <button mat-button (click)="openDialog()">Voir plus</button>
          <p><span class="bold">Source : </span><a href="{{lienCritique}}"> {{lienCritique}}</a></p>
        </div>
        <div>
          <mat-icon class="icone">stars</mat-icon>
          <p>
          <details id="cote">
            <summary>
              <span class="bold">Critiques TMDB :</span>
              <p id="texte2"> Afficher les critiques</p>
            </summary>
            <section *ngIf="listeRevue">
              <ul *ngFor="let rev of listeRevue.results">
                <li>
                  <ul id="det">
                    <li>
                      <span class="bold">utilisateur : </span>{{ rev.author }}
                    </li>
                    <li>
                      <span class="bold"> critique : </span>{{ rev.content }}
                    </li>
                    <li>
                      <span class="bold">en savoir + : </span><a href="{{ rev.url }}">{{ rev.url }}</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </section>
          </details>
          </p>
        </div>
      </div>
    </div>
  </ng-container>
  </div>
