<div id="entete">
  <div id="boutons">
    <button id="butR" mat-fab mat-fab (click)="back()">
      <mat-icon>keyboard_return</mat-icon>
    </button>
    <h1>Film vu</h1>
    <button id="butR" mat-fab mat-fab (click)="suppDialog()">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</div>

<div id="film" [ngStyle]="{
    'background-image':
      'linear-gradient(
    rgba(40, 40, 40, 0.9),
    rgba(40, 40, 40, 0.9)), url(' +
      currentFilm.value.poster +
      ')',
    'background-repeat': 'repeat'
  }">

  <div id="leposter">
    <img src="{{ currentFilm.value.poster }}" alt="{{ currentFilm.value.title }}" id="images" />
  </div>
  <div id="infos" *ngIf="currentFilmInfos">
    <div id="titre">{{ currentFilmInfos.titre }}</div>
    <p id="soustitre">
      {{ currentFilmInfos.release_date }} - {{ currentFilmInfos.Genre }} - {{ currentFilmInfos.Runtime }}
    </p>
    <div id="details">
      <h2>Informations personnelles</h2>

      <div *ngIf="updating">
        <div class="form-card">
          <form [formGroup]="formUpdateMovie">
            <div id="ligne">
                <div class="form-group">
                  <p><span class="bold">Note :</span>/5</p>
                  <mat-form-field appearance="fill" class="field">
                    <mat-label class="lab">Note : </mat-label>
                    <input matInput formControlName="noteControl" placeholder="Rechercher">
                    <mat-error *ngIf="formUpdateMovie.get('noteControl')?.invalid && formUpdateMovie.get('noteControl')?.touched">
                      forme :  chiffre de 0 à 5
                    </mat-error>
                  </mat-form-field>
                </div>
            </div>
            <div id="ligne">
                <div class="form-group">
                  <p><span class="bold">Date de visionnage</span></p>
                  <mat-form-field appearance="fill" class="field">
                    <input matInput formControlName="dateVisionControl" placeholder="Rechercher">
                    <mat-error *ngIf="formUpdateMovie.get('dateVisionControl')?.invalid && formUpdateMovie.get('dateVisionControl')?.touched">
                      forme :  jjmmaaaa ex : 12032022
                    </mat-error>
                  </mat-form-field>
                </div>
            </div>
            <div id="ligne">
              <div class="form-group">
                <p><span class="bold">Cinéma :</span></p>
                <mat-form-field appearance="fill" class="field">
                  <mat-label class="lab">Cinéma : </mat-label>
                  <input matInput formControlName="cinemaControl" placeholder="Rechercher">
                </mat-form-field>
              </div>
            </div>
            <div id="ligne">
              <div class="form-group">
                <p><span class="bold">Accompagnateurs :</span></p>
                <mat-form-field appearance="fill" class="field">
                  <mat-label class="lab">Accompagnateurs : </mat-label>
                  <input matInput formControlName=accompagnateursControl placeholder="Rechercher">
                </mat-form-field>
              </div>
            </div>
            <div id="ligne">
              <div class="form-group">
                <p><span class="bold">Avis :</span></p>
                <mat-form-field id="avis" appearance="fill" class="field">
                  <mat-label class="lab">Avis : </mat-label>
                  <input matInput formControlName="avisControl" placeholder="Rechercher">
                </mat-form-field>
              </div>
          </div>
          <div id="boutons">
            <button id="butModif" mat-mini-fab matTooltip="Valider" [disabled]="formUpdateMovie.get('dateVisionControl')?.invalid || formUpdateMovie.get('noteControl')?.invalid" (click)="modifyMovie()">
              <mat-icon>check_circle</mat-icon>
            </button>
            <p *ngIf="formUpdateMovie.get('dateVisionControl')?.invalid || formUpdateMovie.get('noteControl')?.invalid">Veuillez modifier les erreurs</p>
            <button id="butModif" mat-mini-fab matTooltip="Annuler" (click)="showFormUpdateNovie()">
              <mat-icon>cancel</mat-icon>
            </button>
          </div> 
          </form>
        </div>
      </div>

      <div class="wrapper">
          <div *ngIf="!updating">
          <div class="partie">
            <mat-icon class="icone">star_border</mat-icon>
            <p>
              <span class="bold">Note :</span> {{ currentFilmInfos.note }}/5
            </p>
          </div>
          <div class="partie">
            <mat-icon class="icone">camera_roll</mat-icon>
            <p>
              <span class="bold">Date de visionnage :</span>
              {{ currentFilmInfos.dateVision }}
            </p>
          </div>
          <div class="partie">
            <mat-icon class="icone"> place</mat-icon>
            <p>
              <span class="bold">Cinéma :</span> {{ currentFilmInfos.cinema }}
            </p>
          </div>
          <div class="partie">
            <mat-icon class="icone">supervisor_account</mat-icon>
            <p>
              <span class="bold">Accompagnateurs :</span>
              {{ currentFilmInfos.accompagnateurs }}
            </p>
          </div>
          <div class="partie">
            <mat-icon class="icone"> local_movies</mat-icon>
            <p><span class="bold">Avis :</span> {{ currentFilmInfos.avis }}</p>
          </div>
          {{scrapeCritiques(currentFilm.value.title)}}
          <div>
            <mat-icon class="icone">stars</mat-icon>
            <p id="ligne">
              <details>
                <summary>
                  <span class="bold">Critiques :</span>
                  <p id="texte">afficher les critiques</p>
                </summary>
                <section *ngIf="listeRevue">
                  <ul *ngFor="let rev of listeRevue.results">
                    <li>
                      <ul id="det">
                        <li>
                          <span class="bold">utilisateur : </span
                          >{{ rev.author }}
                        </li>
                        <li>
                          <span class="bold"> critique : </span
                          >{{ rev.content }}
                        </li>
                        <li>
                          <span class="bold">en savoir + : </span>
                          <a href="{{ rev.url }}">{{ rev.url }}</a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
              </ul>
            </section>
          </details>
          </p>
        </div>
      </div>
    </div>
  </div>